<div class="container mt-5">
  <h1>Lista de Tareas</h1>

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (task of tasks; track $index) {
      <tr>
        <td [ngClass]="{'completed': task.done}">{{ task.code }}</td>
        <td [ngClass]="{'completed': task.done}">{{ task.name }}</td>
        <td [ngClass]="{'completed': task.done}">{{ task.description }}</td>
        <td>
          <button type="button" class="btn btn-success btn-sm me-2" (click)="completeTask(task.code)" >
            Completado
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask(task.code)" >
            Eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
